extends layout

block content
  h1= title
  - var rows = Number(query.rows)
  - var cols = Number(query.cols)
  - if(!(Number.isInteger(rows) || !(Number.isInteger(cols)))){
        p please use integer values as query params
  - }
  - else if(!(rows >= 1 && rows <= 10)){
        p Values for the rows should be in the range of 1 to 10.
  - }
  - else if(!(cols >= 1 && cols <= 10)){
        p Values for the columns should be in the range of 1 to 10.
  - }
  - else {
        br
        table#outer
            - for(let i=0; i<rows; i++) {
                tr#middle
                    - for(let j=0; j < cols; j++) {
                        td= (1+ i + j*rows)
                    -}
            - }
  - }